@use './partial' as v;

$primary-color: black;
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);
body {
  background: $primary-color;
  font-weight: map-get($font-weights, bold);
}
@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}
.danger {
  @include important-text;
  background-color: green;
}
.main {
  width: 100%;
  .p {
    color: myBlue;
  }
  &_paragraph {
    font-weight: 20px;
  }
  #{&}_paragraph {
    font-size: large;
  }
}
